/* src/pages/Home.css */

.home-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: url('https://thumbs.dreamstime.com/b/vintage-road-trip-collage-nostalgic-paper-collage-combines-retro-elements-like-road-mountains-graphic-art-vintage-road-331795613.jpg');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

.home-content {
  flex: 1;
  margin-left: 240px; /* space for sidebar */
  margin-top: 80px;   /* space for topbar */
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-shadow: 0 1px 4px rgba(0, 69, 243, 0.479);
}

.animated-heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
}

/* Form styles */
.trip-form {
  background-color: rgba(0, 0, 0, 0.443);
  padding: 1.5rem;
  border-radius: 8px;
  width: 100%;
  max-width: 800px;
  height: 400px;
  backdrop-filter: blur(10px);
}

.form-group {
  margin-bottom: 2rem;
}

.trip-form label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
  color: white;
}

.trip-form input {
  height: 50px;
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: none;
  outline: none;
}

.trip-form button {
  width: 100%;
  background-color: #1309ce;
  color: white;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.trip-form button:hover {
  background-color: #0ea5e9;
}
